<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allaboutkorea.allaboutkorea">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllAboutKorea">
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.EconomyActivity"
            android:exported="true" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.FunfactsActivity"
            android:exported="true" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.TravelActivity2"
            android:exported="true" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.KoreanActivity"
            android:exported="true" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.KdramaActivity"
            android:exported="true" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.KpopActivity"
            android:exported="true" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.FoodActivity"
            android:exported="true" />

        <activity
            android:name="com.AllAboutKorea.allaboutkorea.contentslist.HistoryActivity"
            android:exported="true" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.SettingActivity"
            android:exported="true" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.board.BoardEditActivity"
            android:exported="true" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.KbeautyActivity"
            android:exported="true" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.board.BoardWriteActivity"
            android:exported="true" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.auth.joinactivity"
            android:exported="true" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.contentslist.contentlistactivity"
            android:exported="true" />
        <activity android:name="com.AllAboutKorea.allaboutkorea.auth.introactivity" />
        <activity android:name="com.AllAboutKorea.allaboutkorea.auth.loginactivity" />
        <activity android:name="com.AllAboutKorea.allaboutkorea.contentslist.ContentShowActivity" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.board.BoardInsideActivity"
            android:exported="true" />
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.AllAboutKorea.allaboutkorea.MainActivity"
            android:exported="true" />
    </application>

</manifest>